---
---
@import "minima";

.wrapper {
    max-width: 100%;
}

.with-sidebar {
    display: flex;
    flex-wrap: wrap;
    gap: var(--s1);
}
  
.with-sidebar > nav {
    flex-basis: 300px; 
    flex-grow: 1;
}

.with-sidebar > div {
    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: 50%;
}

.headline {
    margin: 40px;
    text-align: center;
    font-size:1.3em;
    font-weight: 600;
    max-width: 80%;
}

.aspects-container {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.aspects-item {
    width: 300px;
    display: inline-block;
    padding: 20px;

    img {
        width: 100px;
        display: block;
        margin: auto;
        margin-bottom: 20px;
    }
}